
footer{
    background: var(--primary);
    color: var(--text);
    height: 250px;
    padding-top: 30px;
    font-weight: 600;
}
footer .logo{
    padding-left: 50px;
    margin-top: 30px;
}
.non:hover{
    color: var(--footerTextHover);
    border-bottom: #001774 2px solid;
}
.copy-rights{
    text-align: center;
    color: #4a4a4a;
}
@media (max-width:768px) {
    footer{
        height: 500px;
    }
    .quick-links, .contact{
        padding-left: 50px;
    }
    .contact{
        margin-top: 50px;
    }
}