
nav{
    background: linear-gradient(167.5deg, var(--primary), transparent);
    backdrop-filter: blur(4px);
    /* -webkit-backdrop-filter: blur(10px); */
}
.logo{
    font-size: 25px;
    font-weight: 500;
}
.custom-navbar-links{
    /* margin-left: -950px; */
    font-size: 20px;
}
/* @media  (max-width:1570px) {
    .custom-navbar-links{
        margin-left: -370px;
    }
} */

.nav-link{
    color: white;
    margin-left: 20px;
}
nav .logo{
    padding-left: 50px;
    margin-top: 30px;
}
@media (max-width:768px) {
    .logo{
            margin-bottom: 20px;
            text-align: center;
        }
}