.all-custom-form{
    justify-content: center;
    align-items: center;
}
.custom-form-about{
    margin:175px 0px -90px 0px;
    padding: 50px 50px 60px 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px 2px #173ddbe3 ;
}
.custom-form-image{
    margin:175px 0px -40px 0px;
    padding: 50px 50px 60px 50px;
    padding-left:150px;
    box-shadow: 0px 0px 0px 0px;
}